doctype html
html
  head
    title example
    // bower:css
    // bower installed css files will go here...
    // endinject
    // inject:css
    // build css files will go here...
    // endinject
  body
    p hello world
    // bower:js
    // bower installed scripts will go here...
    // endinject
    // inject:js
    // app scripts will go here...
    // endinject